@import 'bootstrap/dist/css/bootstrap.min.css';
body {
    display: grid;
    background-image: '../assets/images/fondito.jpg';
  }
#main-container
{
  place-items: center center;
}
#sign-in-form{
  max-width: 330px;
}